.contact_me-head {
	background: $white url('../img/contact-me_sm.jpg');
	background-size: cover;
	padding: 5rem 0;
	color: $text-dark;

	@media (min-width: 62em) {
	  	background: $white url('../img/contact-me_lg.jpg');
	  	background-size: cover;
	  }


	a {
		font-weight: 700;
    	color: $brand;
    	&:hover {
	        color: $brand-dark;
	        text-decoration: none;
	    }
	}
}

.contact_me-body {
	padding: 2rem 0 4rem 0;
	
	.row {
		margin: 0;
	}

	legend {
		font-size: 1.75rem;
		color: $text-dark;
		margin-bottom: 2rem;
	}
}