$brand: #ff5c5c;
$white: #ffffff;
$grey: #8f8f8c;
$light-grey: #f8f7f5;
$yellow: #fdc56c;
$text-grey: #7a8088;
$text-default: #626a73;
$text-dark: #3a405b;


html, body {
    font-family: 'Open Sans', sans-serif !important;
    color: $text-default;
}

// section {
// 	min-width: 100%;
// 	height: 90vh;
// 	display: table;
// }

h1, h2, h3, h4, h5, h6 {
	color: $text-dark;
	margin-bottom: 2rem;
}

@import 'hero';
@import 'navigation';
@import 'content';
@import 'footer';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Open+Sans:400,700');