.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.consulting-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.analitics-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}