// Footer styles

.footer_spacer {
    position: relative;
    z-index: -1;
    height: 20em;
    pointer-events: none;
}

footer {
    position: fixed;
    z-index: 0;
    height: 30em;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $brand;

    .footer, .footer_link {
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .footer_content {
        position: fixed;
        z-index: 1;
        bottom: 13rem;
        width: 100%;
    }

    .footer_secondary {
        position: fixed;
        z-index: 3;
        left: 0;
        bottom: 1rem;
        width: 100%;
    }
}