.hero_section {
	position: relative;
    overflow: hidden;
	z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/hero_bg.jpg);
    background-size: cover;
    padding: 1rem 1rem 3rem 1rem;

    @media (min-width: 992px) and (max-width: 1199px) {
        padding: 2rem 0;
    }
    @media (min-width: 1200px) {
        padding: 5rem 0;
    }


    .hero_section-img {
        flex: 0 0 100%;
        padding: 0;
        margin: 0;
        background: url('../img/hero_pic.jpg');
        background-size: cover;
        background-position: center;
        min-height: 280px;
    }

    .hero_section-txt {
        background: $white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        

        .hero_section-txt-inner {
            height: auto;
            flex: 0 0 100%;
            margin: 3rem 1rem;

            @media (min-width: 992px) and (max-width: 1199px) {
                padding: 0 2rem;
            }
            @media (min-width: 1200px) {
                padding: 2rem 3rem;
            }

            .hero_section-name {
                font-weight: 700;
                text-transform: uppercase;
            } 
        }
    }
}