// Main Navigation styles
nav {
    position: relative;
    overflow: hidden;
    z-index: 11;
    width: 100%;
    background-color: $white;
    letter-spacing: 1px;

    /* &.up {
        transform: translateY(-100%);
    } */

    &.sticky {
        position: fixed;
        top: 0;
    }

    .nav {
        min-height: 10vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    a {
        color: $text-grey;
        &:focus, &:hover { color: $text-dark;}
    }

    .nav-item {
        padding: 0.5rem;
        
        @media (min-width: 992px) {
            padding: 0.5rem 1rem;
        }
    }

    .nav-link {
        padding: 0;
    }
}

.active {
    position: relative;
    color: $text-dark;

    &:after {
        display: block;
        position: absolute;
        content: '';
        height: 3px;
        width: 100%;
        left: 0;
        bottom: -0.25rem;
        background-color: $brand;
        animation: active .3s ease-in-out;
    }

    @keyframes active {
        from {width: 0;}
        to {width: 100%;}
    }
}