// Main Navigation styles
nav {
    position: relative;
    z-index: 11;
    width: 100%;
    min-height: 10vh;
    background-color: $white;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;

    //transition: transform .5s ease-in-out;
    /* &.up {
        transform: translateY(-100%);
    } */

    &.sticky {
        position: fixed;
        top: 0;
    }

    a {
        color: $text-grey;
        & :hover { color: $text-dark;}
    }
}

.active {
    position: relative;
    color: $text-dark;

    &:after {
        display: block;
        position: absolute;
        content: '';
        height: 3px;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: $brand;
        animation: active .3s ease-in-out;
    }

    @keyframes active {
        from {width: 0;}
        to {width: 100%;}
    }
}