<div class="main_content">
    <div class="container">

        <!-- Intro Section -->
        <section id="page-top" class="hero-section">
            <div class="row">

                <div class="col-lg-12">
                    <h1 class="text-center">Independent <strong>Digital Marketing Specialist</strong></h1>
                    <p>CRO, ROI, ROAS, SEO, CTR etc. Are you bored from jargon juggling experts? Do you need an result and would like to see your business florish? In a nutshell, let me help you to achieve online success. I will guide you through the steps of optimising your digital marketing compain to improve and grow your business.</p>
                    <a class="btn btn-default page-scroll" href="#services">Read more about services I provide</a>
                </div>

            </div>
        </section>

        <!-- Services Section -->
        <section id="services" class="services-section" >
            <div class="row">

                <div class="col-lg-12">
                    <h1 class="text-center">Services Section</h1>
                </div>

                <div class="col col-md-4 col-sm-6">
                    <h6>Digital Media Strategy</h6>
                    <p>Short description</p>
                </div>
                <div class="col col-md-4 col-sm-6">
                    <h6>Content Marketing</h6>
                    <p>Short description</p>
                </div>
                <div class="col col-md-4 col-sm-6">
                    <h6>Search Engine Optimisation</h6>
                    <p>Short description</p>
                </div>

            </div>   
        </section>

        <!-- Consulting Section -->
        <section id="consulting" class="consulting-section">
            <div class="row">

                <div class="col-lg-12">
                    <h1 class="text-center">Consulting Section</h1>
                </div>

                <div class="col col-md-4 col-sm-6">
                    <h6>Digital Media Strategy</h6>
                    <p>Short description</p>
                </div>
                <div class="col col-md-4 col-sm-6">
                    <h6>Content Marketing</h6>
                    <p>Short description</p>
                </div>
                <div class="col col-md-4 col-sm-6">
                    <h6>Search Engine Optimisation</h6>
                    <p>Short description</p>
                </div>

            </div>   
        </section>

        <!-- Analitics Section -->
        <section id="analitics" class="analitics-section">
            <div class="row">

                <div class="col-lg-12">
                    <h1 class="text-center">Analitics Section</h1>
                </div>

                <div class="col col-md-4 col-sm-6">
                    <h6>Digital Media Strategy</h6>
                    <p>Short description</p>
                </div>
                <div class="col col-md-4 col-sm-6">
                    <h6>Content Marketing</h6>
                    <p>Short description</p>
                </div>
                <div class="col col-md-4 col-sm-6">
                    <h6>Search Engine Optimisation</h6>
                    <p>Short description</p>
                </div>

            </div>
        </section>

    </div>
    <!-- /.container -->
</div>