<div class="main_content">

    <div class="container">

        <!-- Services Section -->
        <section id="about" class="about_section" >
            <div class="row">

                <div class="col-sm-12 col-md-7">
                    <h2>About me</h2>
                    <p>CRO, ROI, ROAS, SEO, CTR etc. Are you bored from jargon juggling experts? Do you need an result and would like to see your business florish? In a nutshell, let me help you to achieve online success. I will guide you through the steps of optimising your digital marketing compain to improve and grow your business.</p>
                </div>


                <div class="hidden-sm-down offset-md-1 col-md-4 about_section-resume">
                    <h3>My Resume</h3>
                    <p>In addition to the information provided on my website, you can also download a copy of my resume as a PDF file</p>
                    <a href="#">Download</a>
                </div>

            </div>   
        </section>

        <!-- Services Section -->
        <section id="services" class="services_section text-center">
            <div class="row">

                <div class="col-sm-12">
                    <h2>What can I help you with?</h2>
                </div>
                <div class="col-4 col-md-2">
                    <img src="../img/convertion_icon.svg">
                    <p>Analitics &amp; Strategy</p>
                </div>
                <div class="col-4 col-md-2">
                    <img src="../img/solution_icon.svg">
                    <p>Development Solutions</p>
                </div>
                <div class="col-4 col-md-2">
                    <img src="../img/design_icon.svg">
                    <p>Interface Design</p>
                </div>
                <div class="col-4 col-md-2">
                    <img src="../img/branding_icon.svg">
                    <p>Branding</p>
                </div>
                <div class="col-4 col-md-2">
                    <img src="../img/marketing_icon.svg">
                    <p>Online Marketing</p>
                </div>
            </div>   
        </section>

        <!-- Meeting image -->
        <div class="meeting col-sm-12">
            <img src="../img/content_pic-front.jpg">
        </div>


        <!-- Accreditations Section -->
        <section id="accreditations" class="accreditations_section">
            <div class="row justify-content-center">

                <div class="col-lg-8 text-center">
                    <h2>Accreditations Section</h2>
                    <p>I’ve worked with huge corporations and tiny startups, and throughout my professional career one thing remained the same – my passion for structure and quality.</p>
                </div>

                <div class="accreditations_section-pics col-sm-12">
                    <a href="#"><img src="../img/digital_garage.png"></a>
                
                    <a href="#"><img src="../img/google_partner.png"></a>

                    <a href="#"><img src="../img/msp.png"></a>
                
                    <a href="#"><img src="../img/prince2.png"></a>
                </div>

            </div>
        </section>

    </div>
    <!-- /.container -->
</div>

<!-- Testimonials Section -->
<section id="testimonials" class="testimonials_section">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 text-center">
                <h2>Testimonials</h2>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="media">
                    <img class="d-flex mr-3" src="img/profile_pic.jpg" alt="Profile Picture">
                    <div class="media-body">
                        <p>I highly recommend Geoff. He knows his stuff regarding software development and Scrum. More, he knows how to listen and figure out how to help others use Scrum. I work with Geoff as often as possible, and am always enlightened by the experience.</p>
                        <p class="mb-0"><strong>Ken Schwaber</strong></p>
                        <p>Managing Director, J.P. Morgan</p>
                    </div>
                </div>
            </div>

             <div class="col-sm-12 col-md-6">
                <div class="media">
                    <img class="d-flex mr-3" src="img/profile_pic.jpg" alt="Profile Picture">
                    <div class="media-body">
                        <p>I highly recommend Geoff. He knows his stuff regarding software development and Scrum. More, he knows how to listen and figure out how to help others use Scrum. I work with Geoff as often as possible, and am always enlightened by the experience.</p>
                        <p class="mb-0"><strong>Ken Schwaber</strong></p>
                        <p>Managing Director, J.P. Morgan</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>