<!-- Intro Section -->
<section id="page-top" class="hero_section">
    
    <div class="container">
        <div class="row">

            <!-- <figure class="col-sm-12 col-md-6 hero_section-img">
                <img src="img/hero_pic.jpg" alt="Alina Bolat">
            </figure> -->

            <div class="col-sm-12 col-md-6 hero_section-img"></div>

            <div class="col-sm-12 col-md-6 hero_section-txt">
                <section class="hero_section-txt-inner text-center">
                    <p class="hero_section-name">Alina Bolat</p>
                    <h1><strong>Project Manager</strong> &amp; Digital Marketing specialist</h1>
                    <p class="lead">CRO, ROI, ROAS, SEO, CTR etc. Are you bored from jargon juggling experts? Do you need an result and would like to see your business florish? In a nutshell, let me help you to achieve online success.</p>
                    <a href="../contact.html" role="button" class="btn btn-primary">Contact me</a>
                </section>
            </div>

        </div>
    </div>
    
</section>