<div class="hero_section jumbotron jumbotron-fluid">
    <div class="container">

        <!-- Intro Section -->
        <section id="page-top" class="hero_section-content">
            <div class="row">

                <div class="col-lg-12 text-center">
                    <h1 class="display-4">Experienced <strong>Project Manager</strong> and Digital Marketing specialist</h1>
                    <p class="my-4">CRO, ROI, ROAS, SEO, CTR etc. Are you bored from jargon juggling experts? Do you need an result and would like to see your business florish? In a nutshell, let me help you to achieve online success. I will guide you through the steps of optimising your digital marketing compain to improve and grow your business.</p>
                    <p class="lead">
                        <a class="btn btn-primary" href="#services" role="button">Read more about services I provide</a>
                    </p>
                </div>

            </div>
        </section>

    </div>
</div>