<!-- Intro Section -->
<section id="page-top" class="hero_section">
    
    <div class="container">
        <div class="row">

            <figure class="col-sm-6 hero_section-img">
                <img src="img/hero_bg.jpg" alt="Alina Bolat">
            </figure>

            <div class="col-sm-6 hero_section-txt">
                <section class="hero_section-txt-inner">
                    <p>Alina Bolat</p>
                    <h1>Project Manager &amp; Digital Marketing specialist</h1>
                    <p class="lead">CRO, ROI, ROAS, SEO, CTR etc. Are you bored from jargon juggling experts? Do you need an result and would like to see your business florish? In a nutshell, let me help you to achieve online success.</p>
                    <button type="button" class="btn btn-outline-primary">Contact me</button>
                </section>
            </div>

        </div>
    </div>
    
</section>