<header class="header_global fixed-top">

        <nav id="navbar-header" class="navbar navbar-toggleable-md navbar-light bg-faded" role="navigation">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Alina<strong>Bolat</strong></a>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#consulting">Consulting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#analitics">Analitics</a>
                        </li>
                    </ul>

                    <form class="form-inline my-2 my-lg-0">
                        <a class="btn btn-outline-primary my-2 my-sm-0" role="button" href="/contact-me.html">Contact me</a>
                    </form>

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->      
        </nav>
        <!-- /.navbar -->
</header>